* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: sans-serif;
  text-decoration: none;
}
:root {
  --forbackg: rgba(245, 247, 250, 1);
  --forbtncolor: rgba(76, 175, 79, 1);
}
.wrapper{
  width: 100vw;
  height: auto;
  background-color: var(--forbackg);
}
.container {
  width: 80vw;
  margin: 0 auto;
}
header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .auth, header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
header ul {
  width: 500px;
  font-size: 16px;
  font-weight: 540;
}
.auth{width: 135px;font-style: 20px;}
.auth a {
  text-decoration: none;
}
#sign {
  background-color: var(--forbtncolor);
  text-align: center;
  height: 100%;
  width: 80px;
  border-radius: 6px;
  line-height: 40px;
  color: #fff;
}
.hero {
  padding: 50px 40px;
  height: 550px;
  display: flex;
  justify-content: space-between;
}
.hero--info {
  width: 560px; 
  height: 370px;
  border: 1px solid green;
}
.hero--info a {
  position: relative;
  top: 175px;
  display: inline-block;
  line-height: 50px;
  width: 100px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--forbtncolor);
  color: #fff;
}
